/*style_Tutor.css*/
h1 {
    margin-bottom: 0;
}
hr {
    margin-top: 0;   
    width: 10%; 
    float: left;
}
.download-box {
    width: 100px;
    height: 25px; 
    border: 3px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px; 
    font-size: 16px; 
}
.download-box:hover {
    background-color: #0056b3;
}
.upload-box {
    width: 90px; 
    height: 25px; 
    border: 3px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 16px; 
}
.upload-box:hover {
    background-color: #0056b3;
}
.upload-box.drag-over {
    background-color: #0056b3;
}
.file-input {
    display: none;
}
input[type="number"] {
    width: 70px; 
}
input[type="checkbox"] {
    width: 25px;
    height: 20px;
    transform: scale(1.5);
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; 
}
.upload-box.drag-over {
    background-color: #cceeff;
    border: 2px dashed #000;
}
input[type="checkbox"].checked {
    background-image: url("https://e7.pngegg.com/pngimages/959/696/png-clipart-green-check-check-mark-tick-tick-angle-leaf-thumbnail.png");
}

input[type="checkbox"].unchecked {
    background-image: url("https://e7.pngegg.com/pngimages/752/425/png-clipart-red-x-mark-illustration-x-mark-cross-computer-icons-cartoon-geometry-miscellaneous-angle-thumbnail.png");
}
table {
    width: 95%;
    border-collapse: collapse;
    margin: 30px;
}
th, td {
    border: 0px solid #000;
    text-align: center;
    padding: 10px 10px; 
}
th h2, td h3 td h2 {
    margin: 0;
}