/*style_student.css*/
body {
    background-color: #f0f0f0;
}
h1 {
    margin-bottom: 0;
    text-decoration: underline;
}
hr {
    margin-top: 0;   
    width: 10%; 
    float: left;
}
.download-box {
    width: 100px;
    height: 25px; 
    border: 3px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px; 
    font-size: 16px; 
}
.download-box:hover {
    background-color: #0056b3;
}
.evaluation-box {
    width: 100px;
    height: 25px; 
    border: 3px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px; 
    font-size: 16px; 
}
.evaluation-box:hover {
    background-color: #0056b3;
}
.upload-box {
    width: 90px; 
    height: 25px; 
    border: 3px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 16px; 
}
.upload-box:hover {
    background-color: #0056b3;
}
.upload-box.drag-over {
    background-color: #0056b3;
}
.file-input {
    display: none;
}
input[type="number"] {
    width: 70px; 
}
input[type="checkbox"] {
    width: 25px;
    height: 20px;
    transform: scale(1.5);
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; 
}

input[type="checkbox"].checked {
    background-image: url("https://e7.pngegg.com/pngimages/959/696/png-clipart-green-check-check-mark-tick-tick-angle-leaf-thumbnail.png");
}

input[type="checkbox"].unchecked {
    background-image: url("https://e7.pngegg.com/pngimages/752/425/png-clipart-red-x-mark-illustration-x-mark-cross-computer-icons-cartoon-geometry-miscellaneous-angle-thumbnail.png");
}
table {
    width: 95%;
    border-collapse: collapse;
    margin: 30px;
}
th, td {
    border: 0px solid #000;
    text-align: center;
    padding: 10px 10px; 
}
th h2, td h3, td h2 {
    margin: 0;
}

.posAvatar {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    width: 400px;
    height: auto;
}

.speech-bubble {
    position: fixed;
    bottom: 320px; 
    right: 200px;
    width: 550px;
    font-size: 36px;
    padding: 30px;
    background: #fff;
    border: 2px solid #888888;
    border-radius: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    bottom: -20px; 
    right: 80px;
    border: 20px solid transparent;
    border-top-color: #888888;
    border-bottom: 0;
}
button {
    position: fixed;
    bottom: 14px;
    left: 14px; 
    padding: 10px 20px;
    font-size: 30px;
    background-color: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
