/*style_student.css*/
h1 {
    margin-bottom: 0;
}
hr {
    margin-top: 0;   
    width: 10%; 
    float: left;
}
.download-box {
    width: 100px;
    height: 25px; 
    border: 1px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px; 
    font-size: 16px; 
}
.download-box:hover {
    background-color: #0056b3;
}
.evaluation-box {
    width: 100px;
    height: 25px; 
    border: 1px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px; 
    font-size: 16px; 
}
.evaluation-box:hover {
    background-color: #0056b3;
}
.upload-box {
    width: 90px; 
    height: 25px; 
    border: 1px solid #000; 
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 16px; 
}
.upload-box:hover {
    background-color: #e9f5ff;
}
.upload-box.drag-over {
    background-color: #cceeff;
}
.file-input {
    display: none;
}
input[type="number"] {
    width: 70px; 
}
input[type="checkbox"] {
    width: 25px;
    height: 20px;
    transform: scale(1.5);
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #000;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none; 
}

input[type="checkbox"].checked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="green"%3E%3Cpath d="M13.485 1.757a1 1 0 011.415 0l.07.071a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l.071-.07a1 1 0 011.414 0L6 8.586l7.485-7.485z"/%3E%3C/svg%3E');
}

input[type="checkbox"].unchecked {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="red"%3E%3Cpath d="M4.646 4.646a.5.5 0 01.708 0L8 7.293l2.646-2.647a.5.5 0 11.708.708L8.707 8l2.647 2.646a.5.5 0 01-.708.708L8 8.707l-2.646 2.647a.5.5 0 01-.708-.708L7.293 8 4.646 5.354a.5.5 0 010-.708z"/%3E%3C/svg%3E');
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 0px solid #000;
    text-align: center;
    padding: 10px 15px; 
}
th h2, td h3 {
    margin: 0;
}
